body {
    margin: 0;
    background: rgb(255, 255, 255);
    font-family: sans-serif;
}

#title {
    color: brown;
    font-size: 22px;
    text-align: center;
}

#searchBox {
    background: rgb(46, 146, 138);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem auto;
    padding: .2rem;
    
}

#searchBox #barraBusqueda {
    color: blue;
}

#searchBox button {
    background: #fff;
    border: none;
    padding: .5rem;
    border-radius: 1em;
    color: blue;
}

#diccionario {
    height: 80vh;
    background: rgb(255, 255, 255);
    /*border: 3px solid purple;*/
    width: 95vw;
    margin: auto;
    overflow-y: scroll;
}

.word-meaning {
    background: rgb(46, 146, 138);
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 1em;
    overflow: hidden;
}
.word {
    padding: 10px;
    margin: 0 auto;
    background: rgb(105, 182, 175);
    color: #fff;
    width: 90%;
}

.meaning {
    padding: 10px;
    margin: 0 auto;
    background: rgb(177, 213, 216);
    color: rgb(75, 146, 134);
    width: 90%;
}

footer {
    text-align: center;
    background: #fff;
    color: brown;
}